<app-navbar></app-navbar>

<div class="home-text">
  <img src="assets/images/logo_lightblub.png">
  <p class="headline">Hey, <span style="color: #64FFDA">Jonas</span> here.</p>
  <p class="second-headline">I create stuff sometimes</p>
  <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta expedita inventore, voluptatum officia et maiores porro velit ut repudiandae, dolores esse, maxime sapiente beatae aperiam minus explicabo omnis voluptate rerum.</p>
  <a class="say-hi-button"><img class="email-logo-button" src="assets/images/email-logo-white.svg" alt="E-Mail">Say Hi</a>
</div>

<div class="aboutme-text">
  <div class="sub">
    <h1 class="sub-headline">/ about me</h1>
    <hr>
  </div>
  <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis accusamus corrupti asperiores expedita sequi doloremque minus iusto modi distinctio beatae voluptas nihil cumque corporis architecto saepe minima, sunt labore nobis. <span style="color: #64FFDA">Amazon</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus maxime porro, sit debitis exercitationem amet laudantium doloremque corporis aliquam? Quod corporis maxime fugiat quas optio ab eum in perspiciatis est?<span style="color: #64FFDA">University.</span></p>
  <p class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam dolore commodi neque perferendis. Debitis, quidem quia dolor impedit maiores, dolore doloremque totam accusantium voluptates illum veritatis incidunt dolores delectus rem!</p>
  <div class="paragraph">
    <div>
      <ul>
        <li>Sample Framework</li>
        <li>Sample Framework</li>
        <li>Sample Framework</li>
      </ul>
    </div>
    <div>
      <ul>
        <li>Sample Language</li>
        <li>Sample Language</li>
        <li>Sample Language</li>
      </ul>
    </div>
  </div>
  <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam iusto beatae distinctio atque. Veniam omnis ea tempora reiciendis explicabo. Illum numquam sapiente ducimus eaque sint odio veniam est necessitatibus! Voluptates.</p>
  <img class="aboutme-image" src="assets/images/aboutme-image.png" alt="About Me">
</div>

<div class="experience-text">
  <div class="sub">
    <h1 class="sub-headline">/ experience</h1>
    <hr>
  </div>
  <div class="paragraph">
    <ul>
      <li>
        <h2>Sample Position @ Company</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatem eos molestiae. Doloremque illo, quos consequuntur, deleniti ducimus at necessitatibus rem ea voluptate numquam minima. Autem magni temporibus illo. Ex.</p> 
      </li>
      <li>
        <h2>Sample Position @ Company</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatem eos molestiae. Doloremque illo, quos consequuntur, deleniti ducimus at necessitatibus rem ea voluptate numquam minima. Autem magni temporibus illo. Ex.</p> 
      </li>
      <li>
        <h2>Sample Position @ Company</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatem eos molestiae. Doloremque illo, quos consequuntur, deleniti ducimus at necessitatibus rem ea voluptate numquam minima. Autem magni temporibus illo. Ex.</p> 
      </li>
    </ul>
  </div>
</div>

<div class="software-projects-text">
  <div class="sub">
    <h1 class="sub-headline">/ software-projects</h1>
    <hr>
  </div>
  <div class="paragraph">
    <div>
      <h3>Hausaufgaben Uni</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima nostrum facilis aperiam sunt, recusandae suscipit amet quos numquam libero rerum nisi dolorum provident magni tenetur maiores delectus possimus repellendus deleniti.</p>
      <p>Java, Python</p>
    </div>
    <div>
      <h3>Hausaufgaben Uni</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima nostrum facilis aperiam sunt, recusandae suscipit amet quos numquam libero rerum nisi dolorum provident magni tenetur maiores delectus possimus repellendus deleniti.</p>
      <p>Java, Python</p>
    </div>
    <div>
      <h3>Hausaufgaben Uni</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima nostrum facilis aperiam sunt, recusandae suscipit amet quos numquam libero rerum nisi dolorum provident magni tenetur maiores delectus possimus repellendus deleniti.</p>
      <p>Java, Python</p>
    </div>
    <div>
      <h3>Hausaufgaben Uni</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima nostrum facilis aperiam sunt, recusandae suscipit amet quos numquam libero rerum nisi dolorum provident magni tenetur maiores delectus possimus repellendus deleniti.</p>
      <p>Java, Python</p>
    </div>
    <div>
      <h3>Hausaufgaben Uni</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima nostrum facilis aperiam sunt, recusandae suscipit amet quos numquam libero rerum nisi dolorum provident magni tenetur maiores delectus possimus repellendus deleniti.</p>
      <p>Java, Python</p>
    </div>
    <div>
      <h3>Hausaufgaben Uni</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima nostrum facilis aperiam sunt, recusandae suscipit amet quos numquam libero rerum nisi dolorum provident magni tenetur maiores delectus possimus repellendus deleniti.</p>
      <p>Java, Python</p>
    </div>
    <div>
      <h3>Hausaufgaben Uni</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima nostrum facilis aperiam sunt, recusandae suscipit amet quos numquam libero rerum nisi dolorum provident magni tenetur maiores delectus possimus repellendus deleniti.</p>
      <p>Java, Python</p>
    </div>
  </div>
</div>