<app-navbar></app-navbar>

<div class="header">
  <img class="language-flag" src="assets/images/usaFlag.png" alt="Language" (click)="switchLanguage('german')" *ngIf="currentLanguageContent === englishContent">
  <img class="language-flag" src="assets/images/germanFlag.png" alt="Sprache" (click)="switchLanguage('english')" *ngIf="currentLanguageContent === germanContent">
</div>

<div class="home-container">
  <div class="home-text" id="home">
    <div class="space"></div>
    <p class="headline" data-placeholder="heyBeginning">Hey, <span style="color: #64FFDA; font-weight: bold;">Jonas</span> here.</p>
    <p class="second-headline" data-placeholder="createStuffText">I create stuff sometimes</p>
    <p class="paragraph" data-placeholder="homeText">I’m a software engineer based in Germany near Kassel. I have great interest in full-stack development 
      with an emphasis to backend, software engineering, artifical intelligence and everything in between.
    </p>
    <br>
    <a class="say-hi-button" href="mailto:jonas.wagner.2001@gmx.de"  data-placeholder="sayHiButtonText">
      <img class="email-logo-button" src="assets/images/email-logo-white.svg" alt="E-Mail">Say Hi
    </a>
  </div>
  <div class="home-image">
    <img src="assets/images/home-image.jpg" alt="Jonas Wagner" class="profile-image">
  </div>
</div>

<div class="aboutMe-container" id="about-me">
  <div class="aboutMe-text">
    <div class="space"></div>
    <p class="headline">/about me</p>
    <p class="paragraph" data-placeholder="aboutMeText">
      I am currently working as a Software Engineer at <span style="color: #64FFDA; font-weight: bold;">GLS IT Services</span> working in the Geo & Addresses team.
      At the same time, I am studying for a <span style="color: #CCD6F6">Master of Science</span> in <span style="color: #CCD6F6;">
      Global Software Development</span> at the <span style="color: #64FFDA; font-weight: bold;">Hochschule Fulda</span>.
    </p>
    <p class="paragraph" data-placeholder="technologiesWorkedWithText">
      Here are some technologies I have been working with:
    </p>
    <div class="listOfTechs">
      <div class="list">
        <ul>
          <li>Java</li>
          <li>Spring Boot</li>
          <li>Python</li>
          <li>Flask</li>
        </ul>
      </div>
      <div class="list">
        <ul>
          <li>Angular</li>
          <li>PostgreSQL</li>
          <li>HTML & CSS</li>
          <li data-placeholder="someMoreText">Some more</li>
        </ul>
      </div>
    </div>
    <p class="paragraph" data-placeholder="outsideOfWorkText">
      Outside of work, I’m interested in following the developments in science and tech. I also play different video games, I am interested in Fashion and I like listening to Hip Hop, Rap and Rock.
    </p>
  </div>
  <div class="aboutMe-image">
    <img src="assets/images/aboutMe-image2.png" alt="Jonas Wagner" class="profile-image">
  </div>
</div>

<div class="experience-container" id="experience">
  <div class="experience-text">
    <div class="space"></div>
    <p class="headline">/experience</p>
    <div class="experience-block">
      <p class="experience-second-headline" data-placeholder="experienceTitleBachelor">
        Bachelor of Science Applied Computer Science Dual @ Hochschule Fulda
      </p>
      <div class="list-experience">
        <ul>
          <li data-placeholder="experienceBachelorText1">OCT 2020 - SEP 2023</li>
          <li data-placeholder="experienceBachelorText2">In cooperation with GLS Germany</li>
          <li data-placeholder="experienceBachelorText3">Learn basics of Computer Science in a very practical way</li>
          <li data-placeholder="experienceBachelorText4">Experience with following topics: <span style="color: #64FFDA;">Programming, Software Engineering, CI/CD, IT Security, Databases and Artificial Intelligence</span></li>
          <li data-placeholder="experienceBachelorText5">Bachelor of Science Applied Computer Science finished with <span style="color: #64FFDA;">1,5</span></li>
          <li data-placeholder="experienceBachelorText6">Certificate for Cisco Certified Network Associate</li>
        </ul>
      </div>
    </div>
    <div class="experience-block">
      <p class="experience-second-headline" data-placeholder="experienceTitleDual">
        Dual Student Applied Computer Science @ GLS Germany
      </p>
      <div class="list-experience">
        <ul>
          <li data-placeholder="experienceDualText1">AUG 2020 - SEP 2023</li>
          <li data-placeholder="experienceDualText2">Pre university development of small web application at GLS Germany</li>
          <li data-placeholder="experienceDualText3">
            The concept of a Dual Student is that the students are during the semester fully at the university and during the semester break 
            they work in different departments of the company
          </li>
          <li data-placeholder="experienceDualText4">Departments I have visited and collected my experience: 
            <span style="color: #64FFDA;">Network Operations, Test Center, Development Team for Geo & Addresses, Frontend Development in Portugal, Development Team for Geo & Addresses for Bachelor Thesis</span>
          </li>
          <li data-placeholder="experienceDualText5">The big advantage of a Dual Student is that I was able to use my new gained knowledge directly at work</li>
          <li data-placeholder="experienceDualText6">During this time I found out that I am most interested in Software Development and therefore I will continue my journey with a 
            Masters of Scienece in Global Software Development @ Hochschule Fulda and will be working as Working Student @ GLS IT Services
            </li>
        </ul>
      </div>
    </div>
    <div class="experience-block">
      <p class="experience-second-headline" data-placeholder="experienceTitleMaster">
        Master of Science Global Software Development @ Hochschule Fulda
      </p>
      <div class="list-experience">
        <ul>
          <li data-placeholder="experienceMasterText1">OCT 2023 - PRESENT</li>
          <li data-placeholder="experienceMasterText2">International, practice-oriented Master’s programme taught entirely in English</li>
          <li data-placeholder="experienceMasterText3">Graduates are able to work in a globally distributed team on the conception and realisation of complex, distributed software systems</li>
          <li data-placeholder="experienceMasterText4">Planned for 2 years with 1 semester abroad</li>
        </ul>
      </div>
    </div>
    <div class="experience-block">
      <p class="experience-second-headline" data-placeholder="experienceTitleWorkingStudent">
        Working Student Software Engineer @ GLS IT Services
      </p>
      <div class="list-experience">
        <ul>
          <li data-placeholder="experienceWorkingStudentText1">OCT 2023 - PRESENT</li>
          <li data-placeholder="experienceWorkingStudentText2">Continue to work on the for Geo & Addresses Development Team</li>
          <li data-placeholder="experienceWorkingStudentText3">Gain more hands-on Software Development experience</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="software-projects-container" id="software-projects">
  <div class="software-projects-text">
    <div class="space"></div>
    <p class="headline" data-placeholder="softwareProjectsHeadline">/software-projects</p>
    <p class="paragraph" data-placeholder="softwareProjectsExplanation">
      Below are some of the projects listed that I have worked on. For more information about my projects, please contact me.
    </p>
    <div class="software-projects-block">
      <p class="software-projects-second-headline" data-placeholder="softwareProjectTitle1">
        First Programming Project @ Hochschule Fulda
      </p>
      <p class="small-description" data-placeholder="softwareProjectsSmallDescription">
        Small Description
      </p>
      <p class="small-description-text" data-placeholder="softwareProjectDescription1">
        A console based text adventure game simulating a typical life of a programmer
      </p>
      <p class="link" data-placeholder="softwareProjectsGithubLink">
        Github Link
      </p>
      <p class="link-text" (click)="redirectToGithubProject('first-programming-project')" data-placeholder="softwareProjectLink1">
        github.com/DerKrull/Classified (Public Repository)
      </p>
      <p class="used-tech" data-placeholder="softwareProjectsUsedTech">
        Used Technologies
      </p>
      <p class="used-tech-text" data-placeholder="softwareProjectUsedTech1">
        Java
      </p>
    </div>
    <div class="software-projects-block">
      <p class="software-projects-second-headline" data-placeholder="softwareProjectTitle2">
        Development of Ludo @ Hochschule Fulda
      </p>
      <p class="small-description" data-placeholder="softwareProjectsSmallDescription">
        Small Description
      </p>
      <p class="small-description-text" data-placeholder="softwareProjectDescription2">
        For CI/CD course - Development of Ludo (Mensch ärgere dich nicht) on the console using CI/CD techniques
      </p>
      <p class="link" data-placeholder="softwareProjectsGitlabLink">
        Gitlab Link
      </p>
      <p class="link-text" (click)="redirectToGithubProject('ludo')" data-placeholder="softwareProjectLink2">
          gitlab.informatik.hs-fulda.de (Repository was removed after the course)
      </p>
      <p class="used-tech" data-placeholder="softwareProjectsUsedTech">
        Used Technologies
      </p>
      <p class="used-tech-text" data-placeholder="softwareProjectUsedTech2">
        Java, Jenkins
      </p>
    </div>
    <div class="software-projects-block">
      <p class="software-projects-second-headline" data-placeholder="softwareProjectTitle3">
        Organizer App @ Hochschule Fulda
      </p>
      <p class="small-description" data-placeholder="softwareProjectsSmallDescription">
        Small Description
      </p>
      <p class="small-description-text" data-placeholder="softwareProjectDescription3">
        As part of the Concepts of Android App Development course, we developed an Organizer App to organize your daily life including managing your calendar, your to-do list and your bank account balance
      </p>
      <p class="link" data-placeholder="softwareProjectsGithubLink">
        Github Link
      </p>
      <p class="link-text" (click)="redirectToGithubProject('organizer')" data-placeholder="softwareProjectLink3">
          github.com/DerKrull/OrganizerApp (Public Repository)
      </p>
      <p class="used-tech" data-placeholder="softwareProjectsUsedTech">
        Used Technologies
      </p>
      <p class="used-tech-text" data-placeholder="softwareProjectUsedTech3">
        Flutter, Dart, Firebase, Material 3 Design
      </p>
    </div>
    <div class="software-projects-block">
      <p class="software-projects-second-headline" data-placeholder="softwareProjectTitle4">
        Provision of WordPress @ Hochschule Fulda
      </p>
      <p class="small-description" data-placeholder="softwareProjectsSmallDescription">
        Small Description
      </p>
      <p class="small-description-text" data-placeholder="softwareProjectDescription4">
        Hosting of WordPress as part of the Internet Services course using Cloud Computing techniques and Kubernetes to provide a scalable and highly available WordPress
      </p>
      <p class="link" data-placeholder="softwareProjectsGitlabLink">
        Gitlab Link
      </p>
      <p class="link-text" (click)="redirectToGithubProject('wordpress')" data-placeholder="softwareProjectLink4">
        gitlab.informatik.hs-fulda.de/fdai6557/internetservices (Private Repository)
      </p>
      <p class="used-tech" data-placeholder="softwareProjectsUsedTech">
        Used Technologies
      </p>
      <p class="used-tech-text" data-placeholder="softwareProjectUsedTech4">
        Terraform, OpenStack, Kubernetes, Docker, WordPress, Grafana, MariaDB
      </p>
    </div>
    <div class="software-projects-block">
      <p class="software-projects-second-headline" data-placeholder="softwareProjectTitle5">
        Refactoring and Design Patterns @ Hochschule Fulda
      </p>
      <p class="small-description" data-placeholder="softwareProjectsSmallDescription">
        Small Description
      </p>
      <p class="small-description-text" data-placeholder="softwareProjectDescription5">
        As part of the Software-Design course, we had to refactor an existing Java Swing code base and implement different design patterns like MVC, Proxy, Factory, Visitor and more
      </p>
      <p class="link" data-placeholder="softwareProjectsGithubLink">
        Github Link
      </p>
      <p class="link-text" (click)="redirectToGithubProject('refactor')" data-placeholder="softwareProjectLink5">
        github.com/choan312/documentManagment (Private Repository)
      </p>
      <p class="used-tech" data-placeholder="softwareProjectsUsedTech">
        Used Technologies
      </p>
      <p class="used-tech-text" data-placeholder="softwareProjectUsedTech5">
        Java, Swing, Sonar Lint, PMD, IntelliJ
      </p>
    </div>
    <div class="software-projects-block">
      <p class="software-projects-second-headline" data-placeholder="softwareProjectTitle6">
        Different Developments and Software Designs @ Hochschule Fulda + GLS Germany
      </p>
      <p class="small-description" data-placeholder="softwareProjectsSmallDescription">
        Small Description
      </p>
      <p class="small-description-text" data-placeholder="softwareProjectDescription6">
        Different development tasks while working at the Geo & Addresses Development Team. Design of a custom cache for an existing microservice of the
        Geo & Addresses Development Team (this included a scientific paper)
      </p>
      <p class="link" data-placeholder="softwareProjectsBitbucketLink">
        Bitbucket Link
      </p>
      <p class="link-text" (click)="redirectToGithubProject('bitbucket')" data-placeholder="softwareProjectLink6">
          Internal links to Bitbucket Repositories (Private Repositories)
      </p>
      <p class="used-tech" data-placeholder="softwareProjectsUsedTech">
        Used Technologies
      </p>
      <p class="used-tech-text" data-placeholder="softwareProjectUsedTech6">
        Java, Spring, PostgreSQL, Postman, Docker
      </p>
    </div>
    <div class="software-projects-block">
      <p class="software-projects-second-headline" data-placeholder="softwareProjectsSomeMoreText">
        And some more...
    </div>
  </div>
</div>

<div class="contact-me-container">
  <div class="contact-me-text">
    <div class="space"></div>
    <p class="headline" data-placeholder="contactMeHeadline">/contact me</p>
    <p class="paragraph" data-placeholder="contactMeText">
      If you want to get in touch, talk to me about a project collaboration or just say hi, contact me via LinkedIn or 
      <span style="color: #64FFDA;">send me an email!</span>
    </p>
  </div>

</div>

<br>
<br>
<br>
<br>
<br>

<div class="ending-credits">
  <div>Build by <a href="https://github.com/choan312">Jonas Wagner</a>. Design inspired by <a href="https://gazijarin.com/">Gazi Jarin</a>.</div>
  <div>All rights reserved. ©</div>
</div>
