<app-navbar></app-navbar>

<!-- <div class="header">
  <img class="language-flag" src="assets/images/usaFlag.png" alt="Language" (click)="switchLanguage('german')" *ngIf="currentLanguageContent === englishContent">
  <img class="language-flag" src="assets/images/germanFlag.png" alt="Sprache" (click)="switchLanguage('english')" *ngIf="currentLanguageContent === germanContent">
</div> -->

<div class="home-container">
  <div class="home-text" id="home">
    <div class="space"></div>
    <p class="headline" data-placeholder="heyBeginning">Hey, <span style="color: #64FFDA; font-weight: bold;">Jonas</span> here.</p>
    <p class="second-headline" data-placeholder="createStuffText">I create stuff sometimes</p>
    <p class="paragraph" data-placeholder="homeText">I’m a software engineer based in Germany near Kassel. I have great interest in full-stack development 
      with an emphasis to backend, software engineering, artifical intelligence and everything in between.
    </p>
    <br>
    <a class="say-hi-button" href="mailto:jonas.wagner.2001@gmx.de"  data-placeholder="sayHiButtonText">
      <img class="email-logo-button" src="assets/images/email-logo-white.svg" alt="E-Mail">Say Hi
    </a>
  </div>
  <div class="home-image">
    <img src="assets/images/home-image.jpg" alt="Jonas Wagner" class="profile-image">
  </div>
</div>

<div class="aboutMe-container" id="about-me">
  <div class="aboutMe-text">
    <div class="space"></div>
    <p class="headline">/about me</p>
    <p class="paragraph" data-placeholder="aboutMeText">
      I am currently working as a Software Engineer at <span style="color: #64FFDA; font-weight: bold;">GLS IT Services</span> working in the Geo & Addresses team.
      At the same time, I am studying for a <span style="color: #CCD6F6">Master of Science</span> in <span style="color: #CCD6F6;">
      Global Software Development</span> at the <span style="color: #64FFDA; font-weight: bold;">Hochschule Fulda</span>.
    </p>
    <p class="paragraph" data-placeholder="technologiesWorkedWithText">
      Here are some technologies I have been working with:
    </p>
    <div class="listOfTechs">
      <div class="list">
        <ul>
          <li>Java</li>
          <li>Spring Boot</li>
          <li>AWS / Azure / OpenStack</li>
          <li>Kubernetes</li>
        </ul>
      </div>
      <div class="list">
        <ul>
          <li>Angular</li>
          <li>PostgreSQL</li>
          <li>REST APIs</li>
          <li data-placeholder="someMoreText">Some more</li>
        </ul>
      </div>
    </div>
    <p class="paragraph" data-placeholder="outsideOfWorkText">
      Outside of work, I’m interested in following the developments in science and tech. I also play different video games, I am interested in Fashion and I like listening to Hip Hop, Rap and Rock.
    </p>
  </div>
  <div class="aboutMe-image">
    <img src="assets/images/aboutMe-image2.png" alt="Jonas Wagner" class="profile-image">
  </div>
</div>

<div class="experience-container" id="experience">
  <div class="experience-text">
    <div class="space"></div>
    <p class="headline">/experience</p>
    <div class="experience-block">
      <p class="experience-second-headline" data-placeholder="experienceTitleBachelor">
        Bachelor of Science Applied Computer Science Dual @ Hochschule Fulda
      </p>
      <div class="list-experience">
        <ul>
          <li data-placeholder="experienceBachelorText1">OCT 2020 - SEP 2023</li>
          <li data-placeholder="experienceBachelorText2">In cooperation with GLS Germany</li>
          <li data-placeholder="experienceBachelorText3">Built a strong foundation across all core areas of computer science, including programming, databases, distributed systems, software engineering, and networking.</li>
          <li data-placeholder="experienceBachelorText4">Experience with following technologies: <span style="color: #64FFDA;">Java, Python, JavaScript, TypeScript, C, Spring Boot, AWS, Docker, MySQL, PostgreSQL</span></li>
          <li data-placeholder="experienceBachelorText5">Bachelor of Science - Applied Computer Science (Dual) finished with <span style="color: #64FFDA;">1.4</span></li>
          <li data-placeholder="experienceBachelorText6">Conducted a Bachelor thesis in cooperation with GLS IT Services GmbH on developing, deploying, and operating core microservices for address handling using Java, Spring Boot, PostgreSQL, AWS, and Kubernetes.</li>
          <li data-placeholder="experienceBachelorText7">Certificate: Cisco Certified Network Associate (CCNA), showcasing in-depth knowledge of network fundamentals and operations.</li>
          <li data-placeholder="experienceBachelorText8">Relevant Courses: Programming, Databases, Distributed Systems, Software Engineering, Networking.</li>

        </ul>
      </div>
    </div>
    <div class="experience-block">
      <p class="experience-second-headline" data-placeholder="experienceTitleDual">
        Dual Student Applied Computer Science @ GLS Germany
      </p>
      <div class="list-experience">
        <ul>
          <li data-placeholder="experienceDualText1">AUG 2020 - SEP 2023</li>
          <li data-placeholder="experienceDualText2">
            Pre-university development of a small web application at GLS Germany.
          </li>
          <li data-placeholder="experienceDualText3">
            The concept of a Dual Student is that students are fully immersed in university studies during the semester and work in various company departments during semester breaks.
          </li>
          <li data-placeholder="experienceDualText4">
            Departments I visited and gained experience in include: 
            <span style="color: #64FFDA;">Network Operations, Test Center, Development Team for Geo & Addresses, Frontend Development in Portugal, Development Team for Geo & Addresses (Bachelor Thesis)</span>.
          </li>
          <li data-placeholder="experienceDualText5">
            A major advantage of being a Dual Student was the ability to directly apply newly acquired knowledge to real-world work scenarios.
          </li>
          <li data-placeholder="experienceDualText6">
            During this time, I discovered my passion for Software Development. As a result, I pursued a Master's of Science in Global Software Development at Hochschule Fulda and currently work as a Working Student at GLS IT Services.
          </li>
          
          <li data-placeholder="roleSummary">
            <strong>Role Summary:</strong>
            During my dual study program, I combined theoretical learning with practical experience across various GLS departments. I contributed to projects such as redeveloping internal asset management tools and independently launching a core microservice for address handling.
          </li>
          
          <li data-placeholder="keyAchievements">
            <strong>Key Achievements:</strong>
            <ul>
              <li>Redeveloped internal asset management applications during a stay abroad in Portugal.</li>
              <li>Developed a core microservice for address handling as part of my Bachelor thesis using cutting-edge technologies.</li>
              <li>Gained experience and insights in network operations, testing, and various development teams.</li>
            </ul>
          </li>
          
          <li data-placeholder="technologiesUsed">
            <strong>Technologies Used:</strong>
            Java, Spring Boot, PostgreSQL, AWS, Docker, Kubernetes, Angular, Microservices, Grafana, Agile Software Development.
          </li>
          
        </ul>
      </div>
    </div>
    <div class="experience-block">
      <p class="experience-second-headline" data-placeholder="experienceTitleMaster">
        Master of Science Global Software Development @ Hochschule Fulda
      </p>
      <div class="list-experience">
        <ul>
          <li data-placeholder="experienceMasterText1">OCT 2023 - PRESENT</li>
          <li data-placeholder="experienceMasterText2">International, practice-oriented Master’s programme taught entirely in English</li>
          <li data-placeholder="experienceMasterText3">Graduates are able to work in a globally distributed team on the conception and realisation of complex, distributed software systems</li>
          <li data-placeholder="experienceMasterText4">Planned for 2 years with 1 semester abroad</li>
        </ul>
      </div>
    </div>
    <div class="experience-block">
      <p class="experience-second-headline" data-placeholder="experienceTitleWorkingStudent">
        Working Student Software Engineer @ GLS IT Services
      </p>
      <div class="list-experience">
        <ul>
          <li data-placeholder="experienceWorkingStudentText1">OCT 2023 - PRESENT</li>
          <li data-placeholder="experienceWorkingStudentText2">Continue to contribute to the Geo & Addresses Development Team's success</li>
          <li data-placeholder="experienceWorkingStudentText3">Leverage my newly gained knowledge directly at work to enhance software development processes</li>
          <li data-placeholder="experienceDualText6">During this time, I discovered a strong passion for Software Development. This motivated me to pursue a Master's of Science in Global Software Development at Hochschule Fulda while continuing as a Working Student at GLS IT Services.</li>
          <li>Role Summary: As a Working Student Software Engineer, I brought extensive prior experience to the role, having already collaborated with the same team during my dual study program at GLS. With the team undergoing reorganization, I became one of the most experienced members of the development team, significantly contributing to our development efforts. My work focused on essential Geo and Address capabilities, including developing and operating multiple microservices and processes handling over 2 million daily requests, as well as migrating services to modern cloud-native platforms.</li>
          <li>Key Achievements:</li>
          <ul>
            <li>Developed and operated 4 microservices and 4 processes, processing ~2 million addresses daily and a web application for route planning.</li>
            <li>Migrated services to AWS-based cloud-native platforms using Kubernetes, Grafana, and Spring Boot (v3+).</li>
            <li>Integrated AI-based Address Classification to improve operational efficiency and billing processes.</li>
          </ul>
          <li>Technologies Used: Java, Spring Boot, Kubernetes, AWS, Grafana, Microservices, Docker, PostgreSQL, REST APIs, Agile Software Development, Angular.</li>
        </ul>
      </div>
    </div>


    <div class="experience-block">
      <p class="experience-second-headline" data-placeholder="experienceTitleWorkingStudent">
        Erasmus Semester Abroad @ Linnéuniversitetet Växjö, Sweden
      </p>
      <div class="list-experience">
        <ul>
          <li data-placeholder="experienceWorkingStudentText1">AUG 2024 - JAN 2025</li>
          <li>Degree: Master of Science - Software Technology (Erasmus Semester Abroad)</li>
          <li>Completed courses in Information Visualization, Data Mining, and Systems Modeling & Simulation.</li>
          <li>Participated in cultural and technical exchange during an international semester in Sweden.</li>
          <li>Developed A1-level proficiency in Swedish through a Basic Swedish Course.</li>
          <li>Relevant Courses: Information Visualization, Data Mining, Systems Modeling</li>
          <li>Skills: Data Analysis, Visualization, Multivariate Data Techniques</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="software-projects-container" id="software-projects">
  <div class="software-projects-text">
    <div class="space"></div>
    <p class="headline" data-placeholder="softwareProjectsHeadline">/software-projects</p>
    <p class="paragraph" data-placeholder="softwareProjectsExplanation">
      Below are some of the projects listed that I have worked on. For more information about my projects, please contact me.
    </p>
    <div class="software-projects-block">
      <p class="software-projects-second-headline" data-placeholder="softwareProjectTitle1">
        Hyperparameter Optimization on Quantized Neural Networks
      </p>
      <p class="small-description" data-placeholder="softwareProjectsSmallDescription">
        Research Project
      </p>
      <p class="small-description-text" data-placeholder="softwareProjectDescription1">
        Conducted a research project focused on AI, quantization of machine learning models, and hyperparameter optimization to improve the efficiency of neural networks.
      </p>
      <p class="link" data-placeholder="softwareProjectsGithubLink">
        Links / Paper
      </p>
      <p class="link-text" data-placeholder="softwareProjectLink1">
        Contact me for details on this academic project.
      </p>
      <p class="used-tech" data-placeholder="softwareProjectsUsedTech">
        Used Technologies
      </p>
      <p class="used-tech-text" data-placeholder="softwareProjectUsedTech1">
        Python, TensorFlow, Scikit-learn, MQUAT, Hyperparameter Optimization, Quantization, Neural Networks, Optimizers (Adam, SGD)
      </p>
    </div>
    <div class="software-projects-block">
      <p class="software-projects-second-headline" data-placeholder="softwareProjectTitle2">
        Internal Media Marketplace Application
      </p>
      <p class="small-description" data-placeholder="softwareProjectsSmallDescription">
        Team Project
      </p>
      <p class="small-description-text" data-placeholder="softwareProjectDescription2">
        Led a team project to develop an internal university application for sharing digital media using agile methodologies. I was leading the team, the backend development, and the DevOps processes.
      </p>
      <p class="link" data-placeholder="softwareProjectsGithubLink">
        Github Link
      </p>
      <p class="link-text" data-placeholder="softwareProjectLink2">
        github.com/gihanHsFulda/GDSD-Project-Group4 (Private Repository)
      </p>
      <p class="used-tech" data-placeholder="softwareProjectsUsedTech">
        Used Technologies
      </p>
      <p class="used-tech-text" data-placeholder="softwareProjectUsedTech2">
        React, Node.js, Express.js, JavaScript, Azure, Material Design, MySQL, Agile Software Development, JWT
      </p>
    </div>
    <div class="software-projects-block">
      <p class="software-projects-second-headline" data-placeholder="softwareProjectTitle2">
        To-Do Application with Focus on Current Webtechnologies
      </p>
      <p class="small-description" data-placeholder="softwareProjectsSmallDescription">
        Team Project
      </p>
      <p class="small-description-text" data-placeholder="softwareProjectDescription2">
        Led the development of a web application focusing on current trends in web application development, integrating social login, multi-factor authentication and automated deployments.
      </p>
      <p class="link" data-placeholder="softwareProjectsGithubLink">
        Github Link
      </p>
      <p class="link-text" data-placeholder="softwareProjectLink2">
        Private Repository
      </p>
      <p class="used-tech" data-placeholder="softwareProjectsUsedTech">
        Used Technologies
      </p>
      <p class="used-tech-text" data-placeholder="softwareProjectUsedTech2">
        Flutter, Firbase, Docker, Spring Boot, Gitlab CI/CD, OAuth2, JWT, MySQL
      </p>
    </div>
    <div class="software-projects-block">
      <p class="software-projects-second-headline" data-placeholder="softwareProjectTitle5">
        Personal Portfolio Website
      </p>
      <p class="small-description" data-placeholder="softwareProjectsSmallDescription">
        Personal Project
      </p>
      <p class="small-description-text" data-placeholder="softwareProjectDescription5">
        Built a responsive portfolio website showcasing skills and projects, incorporating Angular and Vercel for hosting.
      </p>
      <p class="link" data-placeholder="softwareProjectsGithubLink">
        Github Link
      </p>
      <p class="link-text" data-placeholder="softwareProjectLink5">
        github.com/choan312/choan_portfolio
      </p>
      <p class="used-tech" data-placeholder="softwareProjectsUsedTech">
        Used Technologies
      </p>
      <p class="used-tech-text" data-placeholder="softwareProjectUsedTech5">
        Angular, Vercel
      </p>
    </div>
    <div class="software-projects-block">
      <p class="software-projects-second-headline" data-placeholder="softwareProjectTitle3">
        Multiple Projects @ GLS
      </p>
      <p class="small-description" data-placeholder="softwareProjectsSmallDescription">
        Professional Project
      </p>
      <p class="small-description-text" data-placeholder="softwareProjectDescription3">
        Developed and operated 4 microservices and 4 processes, processing ~2 million addresses daily and a web application. (Further details available upon request)
      </p>
      <p class="link" data-placeholder="softwareProjectsBitbucketLink">
        Repository Link
      </p>
      <p class="link-text" data-placeholder="softwareProjectLink3">
        Private Repositories
      </p>
      <p class="used-tech" data-placeholder="softwareProjectsUsedTech">
        Used Technologies
      </p>
      <p class="used-tech-text" data-placeholder="softwareProjectUsedTech3">
        Java, Spring Boot, Kubernetes, AWS, Grafana, Microservices, Docker, PostgreSQL, REST APIs, Agile Software Development, Angular
      </p>
    </div>
    <div class="software-projects-block">
      <p class="software-projects-second-headline" data-placeholder="softwareProjectsSomeMoreText">
        And some more...
      </p>
    </div>
  </div>
</div>


<div class="contact-me-container">
  <div class="contact-me-text">
    <div class="space"></div>
    <p class="headline" data-placeholder="contactMeHeadline">/contact me</p>
    <p class="paragraph" data-placeholder="contactMeText">
      If you want to get in touch, talk to me about a project collaboration or just say hi, contact me via LinkedIn or 
      <span style="color: #64FFDA;">send me an email!</span>
    </p>
  </div>

</div>

<br>
<br>
<br>
<br>
<br>

<div class="ending-credits">
  <div>Build by <a href="https://github.com/choan312">Jonas Wagner</a>. Design inspired by <a href="https://gazijarin.com/">Gazi Jarin</a>.</div>
  <div>All rights reserved. ©</div>
</div>
