<app-navbar></app-navbar>

<div class="header">
  <img class="language-flag" src="assets/images/usaFlag.png" alt="Language" (click)="switchLanguage('german')" *ngIf="currentLanguageContent === englishContent">
  <img class="language-flag" src="assets/images/germanFlag.png" alt="Sprache" (click)="switchLanguage('english')" *ngIf="currentLanguageContent === germanContent">
</div>

<div class="home-text" id="home">
  <!-- <img src="assets/images/logo_lightblub.png"> -->
  <div class="space"></div>
  <p class="headline" data-placeholder="heyBeginning">Hey, <span style="color: #64FFDA; font-weight: bold;">Jonas</span> here.</p>
  <p class="second-headline" data-placeholder="createStuffText">I create stuff sometimes</p>
  <p class="paragraph" data-placeholder="homeText">I’m a software engineer based in Germany near Kassel. I have great interest in full-stack development with an emphasis to backend, software engineering, artifical intelligence and everything in between.</p>
  <a class="say-hi-button" href="mailto:jonas.wagner.2001@gmx.de"  data-placeholder="sayHiButtonText">
    <img class="email-logo-button" src="assets/images/email-logo-white.svg" alt="E-Mail">Say Hi
  </a>
  
</div>

<div class="aboutme-text">
  <div class="sub">
    <h1 class="sub-headline" id="about-me">/ about me</h1>
    <hr>
  </div>
  <p class="paragraph" data-placeholder="aboutMeText">I am currently working as a <span style="font-weight: bold;">Software Engineer</span> at <span style="color: #64FFDA">GLS IT Services</span> working in the Geo & Addresses team. At the same time, I am studying for a <span style="font-weight: bold;">Master of Science</span> in <span style="font-weight: bold;">Global Software Development</span> at <span style="color: #64FFDA">Hochschule Fulda</span>.</p>
  <p class="paragraph" data-placeholder="technologiesWorkedWithText">Here are some of the technologies I have worked with:</p>
  <div class="listOfTechs">
    <div>
      <ul>
        <li>Java</li>
        <li>Spring Boot</li>
        <li>Python</li>
        <li>Flask</li>
      </ul>
    </div>
    <div>
      <ul>
        <li>Angular</li>
        <li>Javascript ES6+</li>
        <li>HTML & CSS</li>
        <li data-placeholder="someMoreText">Some more</li>
      </ul>
    </div>
  </div>
  <p class="paragraph" data-placeholder="outsideOfWorkText">
    Outside of work, I’m interested in following the developments in science and tech. I also play a lot of video games. And I like listening to Hip Hop, Rap and Rock.
  </p>
  <img class="aboutme-image" src="assets/images/aboutme-image.png" alt="About Me">
</div>

<div class="experience-text">
  <div class="sub">
    <h1 class="sub-headline" id="experience">/ experience</h1>
    <hr>
  </div>
  <div class="paragraph">
    <ul>
      <li data-placeholder="baDualInfoText">
        <h2>Bachelor of Science Angewandte Informatik Dual @ <span style="color:#64FFDA">Hochschule Fulda</span></h2>
        <h3>OKT 2020 - SEP 2023</h3>
        <ul>
          <li>In cooperation with GLS Germany</li>
          <li>Learn basics of Computer Science in a very practical way</li>
          <li>Experience with following topics: Programming, Software Engineering, CICD, IT Security, Databases and Artificial Intelligence</li>
          <li>Bachleor of Science Angewandte Informatik 1,5</li>
          <li>Certificate for Cisco Certified Network Associate (CCNA)</li>
        </ul>
      </li>
      <li data-placeholder="dualesStudiumText">
        <h2>Duales Studium Angewandte Informatik @ <span style="color:#64FFDA">GLS Germany</span></h2>
        <h3>AUG 2020 - SEP 2023</h3>
        <ul>
          <li>Pre university development of digital meal plan and ordering at GLS Germany</li>
          <li>The concept of a Duales Studium is that the student are during the semester fully in the university and during the semester break they work in different departments of the company</li>
          <li>Departments I have visited and collected my experience: Network Operations, Test Center, Development Team for Geo & Addresses, Frontend Development in Portugal, Development Team for Geo & Addresses for Bachelor Thesis</li>
          <li>The big advantage of a Duales Studium is that I was able to use my new gained knowledge directly at work.</li>
          <li>During this time I found out that I am most interested in Software Development and therefore I will continue my journey with a Masters of Scienece in Global Software Development @ Hochschule Fulda and will be working as Working Student @ GLS IT Services</li>
        </ul>
      </li>
      <li>
        <h2>Master of Science Global Software Development @ <span style="color:#64FFDA">Hochschule Fulda</span></h2>
        <h3>OKT 2023 - PRESENT</h3>
        <p>TBC</p> 
      </li>
      <li>
        <h2>Werkstudent Software Engineer @ <span style="color:#64FFDA">GLS IT Services</span></h2>
        <h3>OKT 2023 - PRESENT</h3>
        <p>TBC</p> 
      </li>
    </ul>
  </div>
</div>

<div class="software-projects-text">
  <div class="sub">
    <h1 class="sub-headline" id="software-projects">/ software-projects</h1>
    <hr>
  </div>
  <div class="paragraph" data-placeholder="projectsUniText">
    <h1>Projects from University</h1>

    <div class="project-card-grid-container">
      <app-projects-card
        title="First Programming Project"
        description="A console based text adventure game simulating a typical life of a programmer in Java"
        tech="Java"
        githubLink="https://github.com"
      ></app-projects-card>
      <app-projects-card
        title="For CI/CD Course"
        [description]="descriptionWithHtml"
        tech="Java, Jenkins"
        githubLink="https://github.com"
      ></app-projects-card>
      <app-projects-card
        title="Desing of a custom cache"
        description="Desing of a custom cache of an existing mircoservice at work and writing a paper about the design"
        tech="Java"
        githubLink="https://github.com"
      ></app-projects-card>
      <app-projects-card
        title="Small Microcontroller Project"
        description="Distance detection using small posistion sensors"
        tech="Assembly"
        githubLink="https://github.com"
      ></app-projects-card>
      <app-projects-card
        title="Monitoring Project"
        description="Monitor all important services and enable it for end users"
        tech="Grafana, Prometheus"
        githubLink="https://github.com"
      ></app-projects-card>
      <app-projects-card
        title="Refactoring of a old and bad Swing Project"
        description="Refactoring of a old and bad Swing Project"
        tech="Java, Swing"
        githubLink="https://github.com"
      ></app-projects-card>
      <app-projects-card
        title="Development of Organizer App with Flutter"
        description="Development of Organizer App with Flutter"
        tech="Flutter, Dart"
        githubLink="https://github.com"
      ></app-projects-card>
      <app-projects-card
        title="Provison of WordPress using OpenStack Cloud and Kubernetes"
        description="Provison of WordPress using OpenStack Cloud and Kubernetes"
        tech="Kubernetes, OpenStack, Terraform, Wordpress"
        githubLink="https://github.com"
      ></app-projects-card>
    </div>

  <div class="paragraph" data-placeholder="projectsWorkText">
    <h1>Projects at GLS</h1>
    <div class="project-card-grid-container">
      <app-projects-card
        title="Meal Plan and Ordering @ GLS Germany"
        description="Meal Plan and Ordering @ GLS Germany"
        tech="HTML, CSS, PHP"
        githubLink="https://github.com"
      ></app-projects-card>
      <app-projects-card
        title="Credential Replacement"
        description="Development of Credential Replacement for simplifying and securing the test enviroments"
        tech="Python"
        githubLink="https://github.com"
      ></app-projects-card>
      <app-projects-card
        title="Development of a Bulk Request Endpoint for a Geocoding Service"
        description="Development of a Bulk Request Endpoint for a Geocoding Service"
        tech="Java, Spring Boot"
        githubLink="https://github.com"
      ></app-projects-card>
      <app-projects-card
        title="Development of Caching at a Geocoding Service"
        description="Development of Caching at a Geocoding Service"
        tech="Java, Spring Boot"
        githubLink="https://github.com"
      ></app-projects-card>
      <app-projects-card
        title="Monitoring Project"
        description="Monitor all important services and enable it for end users"
        tech="Grafana, Prometheus"
        githubLink="https://github.com"
      ></app-projects-card>
      <app-projects-card
        title="Development of an Address Service for my Bachelor Thesis"
        description="Development of an Address Service for my Bachelor Thesis"
        tech="Java, Spring Boot, Kubernetes, Docker, Terraform, AWS"
        githubLink="https://github.com"
      ></app-projects-card>
    </div>
  </div>
</div>

<div class="ending-credits">
  <div>Build by <a href="https://github.com/choan312">Jonas Wagner</a>. Design inspired by <a href="https://gazijarin.com/">Gazi Jarin</a>.</div>
  <div>All rights reserved. ©</div>
</div>